body {
 
  font-family: "Plus Jakarta Sans", serif !important;
  font-optical-sizing: auto !important;
  font-weight: weight !important;
  font-style: normal !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
    flex: 1;
}


/* Navbar */
.navbar {
    height:5 rem;
background-color: aliceblue;
}
.fa-solid {
    color: #fe424d;
    font-size: 2rem;
}
.nav-link {
    color: #222 !important;
}

/* Footer */

.f-info-links a {
text-decoration: none;
color: #222;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #222;
    }

    .f-info-links , .f-info-socials, .f-info-brand{
        width: 100%;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

.f-info-socials i {
    font-size: 1.5 rem;
    margin-right: 1rem;
}

    .f-info {
        text-align: center;
        height: 8 rem;
        background-color: rgb(214, 211, 211);
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3 rem;
    }

    /* Cards */
    .listing-card{
        border: none !important;
        margin-bottom: 2rem;
    }

    .card-img-top {
        border-radius: 1 rem !important;
        width: 100% !important;
        object-fit: cover !important;

    }

    .card-body {
        padding: 0 !important;
    }

    .card-text p {
        font-weight: 400;
    }

    .listing-link {
        text-decoration: none;
    }

    /* Card Effect */
    .card-img-overlay {
        opacity: 0;
    }

    .card-img-overlay:hover {
        opacity: 0.2;
        background-color: aliceblue;
    }

    /* New Page */
    .add-btn{
        background-color: #fe424d !important;
        border: none !important;
    }

    /* Edit Page */
    .edit-btn{
        background-color: #fe424d !important;
        border: none !important;
    }

    /* Show Page */
    .show-image {
        height: 30vh;
    }

    .btns {
        display: flex;

    }

    .show-card{
        padding-left: 0;
        padding-right: 0;
    }